.trashStyle{
    color: red;
}

.btnStyle{
    border: none;
    padding: 0px;
    padding-bottom: 0px;
    
    
}

.btn-primary{
    padding: 0;
    color: yellow;
    
}

.editBtn{
    color: orange;
    cursor: pointer;
}